*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
.mypy_cache
yarn.lock
scratch
labextensions.txt.bak
Untitled.ipynb
TODO
vslot-2020_1.dxf
step.py
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log

# Compiled javascript
# jupyter_cadquery/static/

# OS X
.DS_Store
.virtual_documents/
